<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Grocery List</title>
  </head>
  <body>
    <h1>Grocery List</h1>
    {% if items %}
    <ul>
      {% for item in items %}
      <li>  <a href="{{ item.id }}">
        {{ item.item_name }}
      </a></li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No grocery items have been added.</p>
    {% endif %}
  </body>
</html> -->


{% if items and user.is_anonymous == False%}
    <h1>Welcome {{user.first_name}} {{user.last_name}} </h1>
    <ul>
        {% for item in items %}
        <li>  <a href="{{ item.id }}">
          {{ item.item_name }}
        </a></li>
        {%endfor%}
    </ul>
{%elif items.count == 0 and user%}
    <p>No tasks have been created</p>

{%else%}
    <h1>You are not authorized to access this page</h1>
    <p>Kindly login <a href="login">here</a></p>
{%endif%}