{%  if is_user_authenticated == False  %}
    <h1>Invalid User Credentials</h1>
    <p>Check if the username or password is correct</p>
{%  else  %}
    <h1>User Password Successfully updated</h1>
    <p>The password has been Successfully updated</p>

{%endif%}